.taskdiv{
    padding: 10px;
    width: 93%;
    height: 8rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(184, 181, 181);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.task{
    background-color: #fff;
    color: #000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 93%; 
    height: 8rem;
}
.timeandops{
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.deadline{
    font-size: 0.8rem;
    font-weight: bold;
}
.buttons{
    display: flex;
    width: 15%;
    justify-content: space-between;
}
#edit{
    height: 1.5rem;
    margin-right: 10%;
    cursor: pointer;
}
#delete{
    height: 1.6rem;
    cursor: pointer;
}

.midbox{
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}
.titlebox{
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.checkbox{
    cursor: pointer;
}
.title{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
}
.tags{
    display: flex;
    flex-direction: row-reverse;
    width: 95%;
}

.taskComplete{
    color: rgb(5, 177, 5);
}
.taskPlanned{
    color: rgb(4, 41, 248);
}
.taskPending{
    color: rgb(255, 2, 2);
}